<ion-content [fullscreen]="true">
    <ion-grid>
      <div class="ion-padding-left">Activation</div>
      <ion-row>
        <ion-col>
            <div>Data and contract maintanance service</div>
            <div class="ion-margin-top">You can instruct your simplr consultant to keep your contracts and documents up to date.</div>
            <div class="terms">
              <p class="ion-padding">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea odit molestiae magnam soluta quibusdam, ullam eveniet quis iure voluptate numquam placeat quae aut debitis, eum aperiam quia laborum. Mollitia, pariatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eius perferendis? Facere beatae consectetur, perspiciatis ipsa tempore et, quisquam temporibus ut eaque deleniti dolorum laborum sed hic id corrupti accusantium!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga beatae, ut porro iste velit magni maxime illo iusto ab repellat voluptatem rem, esse nemo a veniam laudantium enim amet nisi!
              </p> 
              <p class="ion-padding">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea odit molestiae magnam soluta quibusdam, ullam eveniet quis iure voluptate numquam placeat quae aut debitis, eum aperiam quia laborum. Mollitia, pariatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eius perferendis? Facere beatae consectetur, perspiciatis ipsa tempore et, quisquam temporibus ut eaque deleniti dolorum laborum sed hic id corrupti accusantium!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga beatae, ut porro iste velit magni maxime illo iusto ab repellat voluptatem rem, esse nemo a veniam laudantium enim amet nisi!
              </p>
              <p class="ion-padding">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea odit molestiae magnam soluta quibusdam, ullam eveniet quis iure voluptate numquam placeat quae aut debitis, eum aperiam quia laborum. Mollitia, pariatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eius perferendis? Facere beatae consectetur, perspiciatis ipsa tempore et, quisquam temporibus ut eaque deleniti dolorum laborum sed hic id corrupti accusantium!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga beatae, ut porro iste velit magni maxime illo iusto ab repellat voluptatem rem, esse nemo a veniam laudantium enim amet nisi!
              </p>
              <p class="ion-padding">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea odit molestiae magnam soluta quibusdam, ullam eveniet quis iure voluptate numquam placeat quae aut debitis, eum aperiam quia laborum. Mollitia, pariatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eius perferendis? Facere beatae consectetur, perspiciatis ipsa tempore et, quisquam temporibus ut eaque deleniti dolorum laborum sed hic id corrupti accusantium!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga beatae, ut porro iste velit magni maxime illo iusto ab repellat voluptatem rem, esse nemo a veniam laudantium enim amet nisi!
              </p> 
              <p class="ion-padding">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea odit molestiae magnam soluta quibusdam, ullam eveniet quis iure voluptate numquam placeat quae aut debitis, eum aperiam quia laborum. Mollitia, pariatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eius perferendis? Facere beatae consectetur, perspiciatis ipsa tempore et, quisquam temporibus ut eaque deleniti dolorum laborum sed hic id corrupti accusantium!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga beatae, ut porro iste velit magni maxime illo iusto ab repellat voluptatem rem, esse nemo a veniam laudantium enim amet nisi!
              </p> 

              <div class="upload-btn">
                <ion-button size="small" shape="round">
                    To permit
                </ion-button>
              </div>
            </div>
        </ion-col>
        <ion-col>
          <div class="personal-details">
            <ion-card>
              <ion-card-content>Your Contact</ion-card-content>
              <div class="img-container">
                <img alt="profile-photo" src="assets/dummy-img.jpg" class="profile-photo" />
              </div>
              <ion-card-header>
                <ion-card-subtitle>Phonix Insurance Broker GmbH</ion-card-subtitle>
                <ion-card-subtitle> <ion-icon name="call-outline"></ion-icon> 0423114100</ion-card-subtitle>
                <ion-card-subtitle><ion-icon name="mail-outline"></ion-icon> info&#64;phoenixmakler.de</ion-card-subtitle>
              </ion-card-header>
            
              <img src="assets/phonix-logo.png">
              <ion-card-content>
                Phönix Insurance Broker GmbH<br>
                Glockengiesserwall 2<br>
                20095 Hamburg
              </ion-card-content>
            </ion-card>
          </div>
       
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  