<ion-content [fullscreen]="true">
    <ion-grid>
      <div class="ion-padding-left">Activation</div>
      <ion-row>
        <ion-col>
            <div>Data and contract maintanance service</div>
            <div class="ion-margin-top">You can instruct your simplr consultant to keep your contracts and documents up to date.</div>
         
        </ion-col>
        <ion-col>
          <div class="personal-details">
            <ion-card>
              <ion-card-content>Your Contact</ion-card-content>
              <div class="img-container">
                <img alt="profile-photo" src="assets/dummy-img.jpg" class="profile-photo" />
              </div>
              <ion-card-header>
                <ion-card-subtitle>Phonix Insurance Broker GmbH</ion-card-subtitle>
                <ion-card-subtitle> <ion-icon name="call-outline"></ion-icon> 0423114100</ion-card-subtitle>
                <ion-card-subtitle><ion-icon name="mail-outline"></ion-icon> info&#64;phoenixmakler.de</ion-card-subtitle>
              </ion-card-header>
            
              <img src="assets/phonix-logo.png">
              <ion-card-content>
                Phönix Insurance Broker GmbH<br>
                Glockengiesserwall 2<br>
                20095 Hamburg
              </ion-card-content>
            </ion-card>
          </div>
       
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  