<ion-content [fullscreen]="true">
  <h5>Dashboard</h5>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>Simply complete your profile:</div>
        <div class="chart">
          <small>Profile to</small>
          <h1>34%</h1>
          <small>completed</small>
        </div>
      
      </ion-col>

      <ion-col>
       <div>
        <div>My profile data </div>
        <div>Data service</div>
       </div>

       <ion-card>
          <ion-card-header>
            <ion-card-title>Your profile data consists of:</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list>  
              <ion-item>  
                <ion-icon name ="checkmark-circle-outline"></ion-icon>
                Your first name + last name 
              </ion-item>         
              <ion-item>  
                <ion-icon name ="checkmark-circle-outline" ></ion-icon>
                Your date of birth  
              </ion-item>  
              <ion-item>  
                <ion-icon name ="checkmark-circle-outline" ></ion-icon>
                Current email address
              </ion-item>  
              <ion-item>  
                <ion-icon name ="checkmark-circle-outline"></ion-icon>
                Your mobile number
              </ion-item>  
              <ion-item>  
                <ion-icon name ="checkmark-circle-outline"></ion-icon> 
                Your main residence (street, zip code, place of residence) 
              </ion-item> 
              <ion-button shape="round" >Complete your profile!</ion-button>
            </ion-list> 
          </ion-card-content>
      </ion-card>  
    
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>Your Contact</ion-card-content>
          <img alt="profile-photo" src="assets/dummy-img.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Phonix Insurance Broker GmbH</ion-card-subtitle>
            <ion-card-subtitle> <ion-icon name="call-outline"></ion-icon> 0423114100</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="mail-outline"></ion-icon> info&#64;phoenixmakler.de</ion-card-subtitle>
          </ion-card-header>
        
          <img src="assets/phonix-logo.png">
          <ion-card-content>
            Phönix Insurance Broker GmbH<br>
            Glockengiesserwall 2<br>
            20095 Hamburg
          </ion-card-content>
        </ion-card>
      </ion-col>
   
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cardItem">
          <div>
            <ion-icon name="person-outline" class=items></ion-icon>
            <div>My Data</div>
          </div>
        </div>

        <div class="cardItem">
          <div>
            <ion-icon name="help-buoy-outline" class=items></ion-icon>
            <div>Offers</div>
          </div>
        </div>
        <div class="cardItem">
          <div>
            <ion-icon name="rocket-outline" class=items></ion-icon>
            <div>Activation</div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="cardItem">
          <div>
            <ion-icon name="document-outline" class="items"></ion-icon>
            <div>Contracts</div>
          </div>
        </div>
        <div class="cardItem">
          <div>
            <ion-icon name="folder-outline" class=items></ion-icon>
            <div>Documents</div>
          </div>
        </div>
        <div class="cardItem">
          <div>
            <ion-icon name="chatbubble-ellipses-outline" class=items></ion-icon>
            <div>Contact</div>
          </div>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  
  </ion-grid>

  <div class="banner">
    <div class="banner-content">
      <img src="assets/screen-app.png">
      <div style="padding-top: 100px;">
        <h3>simplr</h3>
        <p>Now available as an app</p>
        <div><strong>iPhone</strong> from iOS 11 and <strong>Android</strong> 5.1 or later</div>
      </div>
    </div>
  </div>

</ion-content>
