.personal-details{
    width: 35%;
}
ion-item{
    .item-detail-icon{
        color: #84b2cb !important;
    }
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-photo {
    width: 80%;
  }
  