<ion-content [fullscreen]="true">
  <ion-grid>
    <p>Offers</p>
    <ion-row>
   
      <ion-col>
        Use one of our many quote calculators to calculate a free quote
        <ion-list>
          <ion-item>My saved offers</ion-item>
          <ion-item button detail="true">Private liability</ion-item>
          <ion-item button detail="true">Building owner liability</ion-item>
          <ion-item button detail="true">Car(private use only)</ion-item>
          <ion-item button detail="true">Building owner liability</ion-item>
        </ion-list>

        <ion-list style="margin-top: 20px;">
          <ion-item >Calculate new offer</ion-item>
          <ion-item button detail="true">Private liability risks</ion-item>
          <ion-item button detail="true">Private property insurance</ion-item>
          <ion-item button detail="true">Commercial insurance</ion-item>
          <ion-item button detail="true">Life Insurance</ion-item>
          <ion-item button detail="true">Health Insurance</ion-item>
          <ion-item button detail="true">Car Insurance</ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <div class="personal-details">
          <ion-card>
            <ion-card-content>Your Contact</ion-card-content>
            <div class="img-container">
              <img alt="profile-photo" src="assets/dummy-img.jpg" class="profile-photo" />
            </div>
            <ion-card-header>
              <ion-card-subtitle>Phonix Insurance Broker GmbH</ion-card-subtitle>
              <ion-card-subtitle> <ion-icon name="call-outline"></ion-icon> 0423114100</ion-card-subtitle>
              <ion-card-subtitle><ion-icon name="mail-outline"></ion-icon> info&#64;phoenixmakler.de</ion-card-subtitle>
            </ion-card-header>
          
            <img src="assets/phonix-logo.png">
            <ion-card-content>
              Phönix Insurance Broker GmbH<br>
              Glockengiesserwall 2<br>
              20095 Hamburg
            </ion-card-content>
          </ion-card>
        </div>
     
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
